table > tbody > tr > th {
  text-align: center;
}


.btn {
  width: 120px;
}

.div_header {
  font-size: 18px;
  font-weight:600;
}


.precautions {
  font-size: small;
}

#new_list_desc {
  width: 100%;
}